@model VideoStore.Models.Customer

@{
    ViewBag.Title = "CustomerDetails";
}

<h2>CustomerDetails</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

    </dl>
</div>
<h4>Videofilms</h4>
<hr />
<ul>    
    @if (Model.Videofilms.Count > 0)
    {
        foreach (var video in Model.Videofilms)
        {
            <li>@video.Title</li>
        }
    }
    else
    {
        <li>No rented videofilms by customer.</li>
    }
</ul>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
